.section-1 .title-web{
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    height:100vh;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin:0 20px;
}

.section-1 .title-web h1,
.section-1 .title-web h2{
    margin:30px 0;
}
